<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EventKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A74D528E1F45BF3F000B16C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A74D52A21F45BF3F000B16C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A74D52AD1F45BF3F000B16C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
